extends ../layout 

block content
    h1 Edit Course
    form(action="/shopname/edit/"+newshop._id, method="post")
        .form-group
            label(for="shopname") Course Name
            input#shopname(type="text" ,class="form-control" ,name="shopname", value=newshop.shopname)
        .form-group
            label(for="productname") Course Id
            input#productname(type="text" ,class="form-control",name="productname", value=newshop.productname)
        .form-group
            label(for="quantity") Course Duration
            input#quantity(type="test" ,class="form-control",name="quantity", value=newshop.quantity)
        .form-group
            label(for="address") Course Fee
            input#address(type="text" ,class="form-control",name="address", value=newshop.address)
        input(type="submit" ,class="btn btn-info")